

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.brush-header{
    background-color: mediumspringgreen;
}
.frame-header{
    background-color:lightcoral;
}
.paint-header{
    background-color: skyblue;
}
.different-color {
    font-family: Helvetica;
    font-weight: bold;
    color: blue
}
.Heading{
    background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: khaki;
   
    
    
}

